<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee" version="2.4">
  <display-name>Mywebzc</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.zc.action.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginOut</display-name>
    <servlet-name>LoginOut</servlet-name>
    <servlet-class>com.zc.action.LoginOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginOut</servlet-name>
    <url-pattern>/loginOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUsernameServlet</display-name>
    <servlet-name>CheckUsernameServlet</servlet-name>
    <servlet-class>com.zc.action.CheckUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUsernameServlet</servlet-name>
    <url-pattern>/checkUsername</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserResServlet</display-name>
    <servlet-name>UserResServlet</servlet-name>
    <servlet-class>com.zc.action.UserResServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserResServlet</servlet-name>
    <url-pattern>/userRes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentRegServlet</display-name>
    <servlet-name>StudentRegServlet</servlet-name>
    <servlet-class>com.zc.action.StudentRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentRegServlet</servlet-name>
    <url-pattern>/studentReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseRegServlet</display-name>
    <servlet-name>CourseRegServlet</servlet-name>
    <servlet-class>com.zc.action.CourseRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseRegServlet</servlet-name>
    <url-pattern>/courseReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScoreRegServlet</display-name>
    <servlet-name>ScoreRegServlet</servlet-name>
    <servlet-class>com.zc.action.ScoreRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScoreRegServlet</servlet-name>
    <url-pattern>/scoreReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSelectSerlvet</display-name>
    <servlet-name>UserSelectSerlvet</servlet-name>
    <servlet-class>com.zc.action.UserSelectSerlvet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSelectSerlvet</servlet-name>
    <url-pattern>/userSelect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserEditServlet</display-name>
    <servlet-name>UserEditServlet</servlet-name>
    <servlet-class>com.zc.action.UserEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserEditServlet</servlet-name>
    <url-pattern>/userEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSaveServlet</display-name>
    <servlet-name>UserSaveServlet</servlet-name>
    <servlet-class>com.zc.action.UserSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSaveServlet</servlet-name>
    <url-pattern>/userSave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDelServlet</display-name>
    <servlet-name>UserDelServlet</servlet-name>
    <servlet-class>com.zc.action.UserDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDelServlet</servlet-name>
    <url-pattern>/userDel</url-pattern>
  </servlet-mapping>
</web-app>